body {
	padding-top: 64px;
	font-family: sans-serif;
}

.navbar{
  height: 64px;
  border-bottom: 1px solid #ddd;
}

.navbar-brand{
  margin-left: 32px;
  line-height: 36px;
  color: #555;
  font-size: 36px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #FF4500;
}

a{
  color: #555;
}

a:hover{
  color: #555;
}

.row-top{
	margin-top: 16px;
}

.title{
  margin-top: 24px;
  margin-bottom: 8px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
}

.title-form{
    margin-top: 8px;
}

.input-entity{
	width: 100%;
	margin-bottom: 16px;
}

#register-btn{
	float: right;
	width: 120px;
	height: 50px;
}

div.content{
	margin: 0px auto;
	width: 100%;
	text-align: center;
}

.clearbox{
  clear: both;
  height: 0px;
}
