html{
  height: 100%;
}

body {
  height: 100%;
  padding-top: 64px;
  font-family: sans-serif;
}

.navbar{
  height: 64px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.nav-info{
  height: 24px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding-left: 47px;
  font-size: 16px;
}

.navbar-brand{
  margin-left: 32px;
  line-height: 36px;
  color: #555;
  font-size: 36px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #ff4500;
}

a{
  color: #555;
}

a:hover{
  color: #555;
}

.row-top{
  margin-top: 16px;
}

.row{
  height: 100%;
}

.title{
  margin-top: 24px;
  margin-bottom: 8px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
}

.title-form{
  margin-top: 8px;
}

.input-entity{
  width: 100%;
  margin-bottom: 16px;
}

.btn-swallow-default{
  width: 120px;
  height: 50px;
}

.post-btn{
  float: right;
}

.download-btn{
  margin-right: 16px;
  float: right;
  padding: 0px;
  line-height: 50px;
}

div.content{
  margin: 0px auto;
  height: 100%;
  width: 100%;
  text-align: center;
}

body > #leftpanel {
  height: auto;
}

#leftpanel{
  min-height: 100%;
  padding-left: 24px;
  border-right: 1px solid #ddd;
}

.clearbox{
  clear: both;
  height: 0px;
}
